<% - include('_partial/header') %>
<h1>Vunerabilidade SQL injection</h1>
<form>
    <div>
        <label>
            <span>Usuário:</span>
            <input name="username">
        </label>
    </div>
    <div>
        <label>
            <span>Senha:</span>
            <input name="password">
        </label>
    </div>
    <div>
        <buton type="submit">Enviar</buton>
    </div>
</form>

<% - include('_partial/footer') %>